---
import Base from '../../layouts/Base.astro';
import Jumper from '../../components/Jumper.vue';
import Skipper from '../../components/Skipper.vue';
import Viewer from '../../components/Viewer.vue';
import Chapton from '../../fragments/Chapton.astro';
import { chapters } from '../../../data.mjs';

export async function getStaticPaths() {
    return [].concat.apply([], [...Object.entries(chapters).map(([name, pages]) => 
        [...Array(pages.length).keys()].map(i => 
            new Object({params: {comic: name, chapter: `${i + 1}`}})
    ))]); 
}

const { comic, chapter } = Astro.request.params;

const pages = [...Array(chapters[comic][parseInt(chapter) - 1] + 1).keys()].map(i => `/library/${comic}/chapter_${chapter}/chapter_${chapter}_${i}.jpg`);
const limit = chapters[comic].length;
const pageLimits = chapters[comic];
---
<Base title="Astrocom - Panels">
    <header>
        <div class="start">
            <Skipper limit={limit} client:load />
            <Chapton comic={comic} chapter={chapter} />
        </div>
        <a href="/">
            <img src="/assets/reader.png" alt="Logo">
        </a>
        <Jumper limits={pageLimits} client:load />
    </header>
    <main>
        <Viewer dir={true} pages={pages} />
    </main>
</Base>

<style lang="scss">
@import "../../scss/variables";

header {
    background-color: white;
    padding: 1rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    z-index: 99;
    position:fixed;
    top:0;
    left: 0;
    right: 0;

    img {
        height: 50px;
        width: auto;
    }

    div.start {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

main {
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    padding-top: 96px;
}

@media (prefers-color-scheme: dark) {
    header {
        background: $background-dark;
    }
}
</style>